@use 'sass:map';

// ミックスイン
@mixin mq($mt: 40px, $pb: 80px) {
    @media screen and (min-width:768px) {
        @content;
        margin-top: $mt;
        padding-bottom: $pb;
    }
}

$breakpoints: (
    'small': 500px,
    'medium': 768px,
    'large': 960px
);

@mixin mediaquery($breakpoint: medium) {
    @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
}